[Unit]
Description=Run Osservatorio Delmastro update every 30 minutes

[Timer]
OnCalendar=*:0/30
Persistent=true
Unit=delmastro-newswatch.service

[Install]
WantedBy=timers.target
