[Unit]
Description=Update Osservatorio Delmastro dataset
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=giovanni
WorkingDirectory=/srv/apps/osservatorio-delmastro
ExecStart=/srv/apps/osservatorio-delmastro/ops/run-on-raspberry.sh
